:root {
    --primary: #ff7300;
    --bg: #000000;
    --box-shadow: 0 .5rem 1.5rem rgba(0,0,0.1);
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Alegreya';
    background-color: #000000;
    color: #ffffff;
}

a {
    text-decoration: none;
}

.navbar {
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    padding: 1.4rem 7%;
    border-bottom: 1px solid #ff7300;
}

.navbar .logo {
    font-size: 20px;
    font-weight: 600;
    color: #ffffff;
}

.navbar .navbar-nav {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 20px;
}

.navbar .navbar-nav .nav-link {
    color: #ffffff;
    transition: .3s;
}

.navbar .navbar-nav .nav-link:hover {
    color: var(--primary) ;
}

.menu-icon {
    font-size: 24px;
    display: none;
}

/*hero section*/

.hero {
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-image: url('img/ketoprak.JPG');
    background-repeat: no-repeat;
    background-position: right ;
}

.hero::after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 20%;
    bottom: 0;
    background: linear-gradient(0deg, #000000 8px, rgba(255, 255, 255, 0) 50% );
}

.hero .content {
    padding: 1.4rem 7%;
    max-width: 60rem;
}


.hero h1 {
    font-size: 4rem; 
    font-family: 'Alegreya';
    color: white; 
    text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
    line-height: 1;
}

.hero .content h1 span {
    color: var(--primary);
}

.hero .content p {
    font-size: 1.6rem;
    margin-top: 0.5rem;
    line-height: 1.4;
    font-weight: 100;
    text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}

.hero .content .cta {
    margin-top: 1rem;
    display: inline-block;
    padding: 1rem 3rem;
    font-size: 1.4rem;
    color: #ffffff;
    background-color: #ff7300;
    border-radius: 0.5rem;
    box-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}

.hero .content .cta:hover {
    background-color: #ff3c00;
    transform: scale(1); 
}

/*order*/

.order {
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    background-color: #000000; 
    text-align: center;
    font-family: 'Alegreya';
    padding: 2rem; 
}

.sub-heading {
    font-size: 1.5em; 
    color: var(--primary); 
}

.heading {
    font-size: 2.5em; 
    color: #ffffff; 
}

.order form {
    max-width: 60rem; 
    border-radius: 0.5rem;
    box-shadow: var(--box-shadow);
    border: 0.1rem solid #ff7300;
    background: rgba(0, 0, 0, 0.8); 
    padding: 1.5rem;
    margin: 0 auto;
}

.order form .inputBox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.order form .inputBox .input {
    width: 45%; 
}

.order form .inputBox .input span {
    display: block;
    padding: 0.5rem 0;
    font-size: 1.5rem;
    color: #ffffff;
}

.order form .inputBox .input input,
.order form .inputBox .input textarea {
    background: #eee;
    border-radius: 0.5rem;
    padding: 0.8rem; 
    font-size: 1.4rem; 
    color: #000000;
    text-transform: none;
    margin-bottom: 1rem;
    width: 100%; 
}

.order form .inputBox .input textarea {
    height: 10rem; 
    resize: none;
}

.order form .btn {
    margin-top: 0;
    background: #ff7300;
    font-family: 'Alegreya';
    color: #ffffff;
    padding: 12px 24px; 
    font-size: 16px; 
    border: none;
    border-radius: 5px; 
    cursor: pointer; 
    transition: background 0.3s; 
}

.order form .btn:hover {
    background: #e66a00; 
}

/*ulasan*/

.review {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 1.4rem 0vw; 
    box-sizing: border-box;
    width: 100%;
    max-width: 1200px; 
    margin: 0 auto; 
}

.review .review_box {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
    width: 100%;
    flex-wrap: nowrap;
    box-sizing: border-box;
}

.review .review_box .review_card {
    flex: 1 0 300px;
    max-width: 300px; 
    box-shadow: var(--primary);
    border-radius: 8px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--primary);
    min-height: 200px;
    text-align: center;
}

.review h1 {
    font-size: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.review h1 span {
    margin-left: 15px;
    color: var(--primary);
    font-family: mv boli;
}


.review .review_box .review_card .review_profil {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: 0.3s;
}

.review .review_box .review_card:hover .review_profil {
    transform: translateY(-60px);
} 

.review .review_box .review_card .review_profil img {
    width: 100px; 
    height: 100px; 
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    border: 5px solid #cccccc;
    margin-bottom: 10px; 
}

.review .review_box .review_card .review_text {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.review .review_box .review_card .review_text .name {
    color: #ffffff;
    transition: 0.3s;
}

.review .review_box .review_card .review_text .review-icon {
    color: var(--primary);
    transition: transform 0.3s;
    position: relative; 
    z-index: 1; 
}

.review .review_box .review_card:hover .review_text .review-icon {
    transform: translateY(-30px); 
}

.review .review_box .review_card:hover .review_text .name {
    transform: translateY(-50px);
}

.review .review_box .review_card .review_text .review_social i {
    margin: 5px 1px;
    font-size: 15px;
    opacity: 0;
    cursor: pointer;
    transition: 0.3s;
}

.review .review_box .review_card:hover .review_text .review_social i {
    opacity: 1;
    transform: translateY(-8px);
}

.review .review_box .review_card .review_text p {
    text-align: center;
    line-height: 22px;
    transition: 0.3s;
}

.review .review_box .review_card:hover .review_text p {
    margin-top: 5px;
}



/* Media Query untuk layar kecil */
@media (max-width: 768px) {
    .sub-heading {
        font-size: 1.2em; 
    }

    .heading {
        font-size: 2em; 
    }

    .order form {
        padding: 1rem; 
    }

    .order form .inputBox .input {
        width: 100%; 
        margin-bottom: 1rem; 
    }

    .order form .inputBox .input span {
        font-size: 1.2rem; 
    }

    .order form .inputBox .input textarea {
        height: 8rem;
    }

    .order form .btn {
        width: 100%; 
        padding: 10px; 
        font-size: 16px;
    }
}

@media screen and (max-width: 768px) {
    .navbar {
        flex-wrap: wrap;
    }

    .navbar .navbar-nav {
        width: 100%;
        flex-direction: column;
        display: none; 
        position: absolute; 
        top: 60px;
        left: 0;
        background-color: rgb(0, 0, 0); 
        z-index: 10;
    }

    .navbar .navbar-nav.show {
        display: flex;
    }

    .menu-icon {
        display: flex;
        align-items: center;
        cursor: pointer;
    }

    .nav-link {
        padding: 10px;
        text-align: center;
        text-decoration: none;
        color: black;
    }
}


@media (max-width: 768px) {
    .hero {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-position: center;
        padding: 2rem 0;
        position: relative;
    }
    
    .hero .hero-image {
        width: 100%;
        height: auto;
        margin-top: 20px;
    }
    
    .hero .content {
        font-size: 2rem;
        padding: 1rem 5%;
        max-width: 90%;
        position: relative;
        z-index: 1;
        text-align: center;
    }
    
    .hero .content p {
        font-size: 1.2rem;
        margin-top: 25rem; 
        position: relative;
        margin-bottom: 0rem; 
    }
    
    .hero .content .cta {
        margin-top: 1rem;
        padding: 0.8rem 2rem;
        font-size: 1.2rem;
        z-index: 1;
        position: relative;
        margin-bottom: 0; 
    }
    
    .hero h1 {
        margin-top: -2rem; 
        font-size: 4rem;
    }
    

@media (max-width: 768px) {
    .review .review_box {
        flex-direction: column; 
        align-items: center; 
    }

    .review .review_box .review_card {
        max-width: 90%; 
        margin-bottom: 20px; 
    }

    .review h1 {
        font-size: 40px; 
    }
}
